.pane {
  min-height: 100%;
}

.pane .content {
  background-color: #fff;
  margin: 16px;
  padding: 24px;
  // min-height: 500px;
}
.content {
  box-shadow: 2px 3px 19px 0px rgba(2, 0, 25, 0.08);
  border-radius: 4px;
}
