.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-image: url(./images/header_bg.png);
  background-color: #fff;
  line-height: 14px;
  box-shadow: 2px 3px 19px 0px rgba(2, 0, 25, 0.08);

  :global {
    .ant-dropdown-trigger {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 16px;
      padding: 0 12px;
    }
    .ant-dropdown-trigger:hover {
      background-color: rgba(0, 0, 0, 0.025);
    }
  }
  .name {
    margin-left: 8px;
  }
}
.trigger {
  padding-left: 16px;
  padding-top: 12px;
  font-size: 16px;
}

:global {
  .ant-btn {
    border-radius: 6px;
    height: 30px;
    text-align: center;
    padding: 0px 10px;
    font-size: 14px;
    margin-right: 8px;
  }
  .ant-table-thead {
    tr {
      th {
        font-weight: bold;
        background: #1890ff !important;
        color: #fff !important;
        height: 30px;
        font-size: 14px;
      }
    }
  }
  .ant-table-tbody {
    height: 30px;
  }
  .ant-table tr:nth-child(even) > td {
    background: #f7fcff;
  }
  .ant-table-small > .ant-table-content > .ant-table-body {
    margin: 0px !important;
  }
  .ant-modal-header {
    background: #1890ff !important;
    .ant-modal-title {
      color: #fff;
    }
  }
  .ant-modal-body {
    .ant-form-item {
      margin-bottom: 10px;
    }
  }
  .ant-modal-close-x {
    color: #fff;
    .anticon:hover {
      transform: rotate(180deg);
    }
  }

  .ant-modal-close {
    transition: all 0.3s;
    &:hover {
      transform: rotateZ(180deg);
    }
  }
  .ant-card-head-title {
    color: #333;
    font-weight: bold;
  }
}
